In [1]:

import pandas as pd
import numpy as np
import seaborn as sns
import pandas_datareader as pdr
from datetime import datetime
from pandas import DataFrame
from pandas import concat
import matplotlib.pyplot as plt
import tensorflow as tf

C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
C:\Users\arush\AppData\Roaming\Python\Python311\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from tensorflow.python.keras.engine.sequential import Sequential

from tensorflow.python.keras.layers import Dense, Conv2D, Flatten, Dropout, MaxPooling2D

from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.layers import LSTM ,Conv1D, MaxPooling1D, Flatten
from tensorflow.keras.models import Sequential
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
from matplotlib import pyplot
%matplotlib inline

In [3]:
df= pd.read_csv('A:\OverallDataset\WestBengal\OverallwestBengal.csv')

In [4]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3)
0,01-12-2015 00:00,01-12-2015 01:00,NaN,70.12,23.27,20.51,0.62,11.94
1,01-12-2015 01:00,01-12-2015 02:00,NaN,80.95,40.61,27.02,0.88,10.94
2,01-12-2015 02:00,01-12-2015 03:00,NaN,64.26,18.94,16.14,0.63,17.05
3,01-12-2015 03:00,01-12-2015 04:00,NaN,94.02,38.27,26.47,0.84,21.06
4,01-12-2015 04:00,01-12-2015 05:00,NaN,78.10,39.73,24.74,0.96,20.36
...,...,...,...,...,...,...,...,...
635490,31-03-2023 19:00,31-03-2023 20:00,46.75,86.33,21.40,8.42,0.42,30.50
635491,31-03-2023 20:00,31-03-2023 21:00,41.40,80.97,23.30,6.76,0.45,24.86
635492,31-03-2023 21:00,31-03-2023 22:00,36.05,79.35,21.15,6.32,0.39,28.53
635493,31-03-2023 22:00,31-03-2023 23:00,34.02,76.25,20.40,5.46,0.40,24.37
635494,31-03-2023 23:00,01-04-2023 00:00,34.50,71.17,22.97,5.04,0.42,23.15

In [5]:
import pandas as pd


# Function to check if a column contains string values
def contains_strings(column):
    return any(isinstance(value, str) for value in column)

# Iterate through the columns and check for string values
for column in df.columns:
    if contains_strings(df[column]):
        print(f"Column '{column}' contains string values.")
    else:
        print(f"Column '{column}' does not contain string values.")

Column 'From Date' contains string values.
Column 'To Date' contains string values.
Column 'PM2.5 (ug/m3)' does not contain string values.
Column 'PM10 (ug/m3)' does not contain string values.
Column 'NOx (ppb)' does not contain string values.
Column 'SO2 (ug/m3)' does not contain string values.
Column 'CO (mg/m3)' does not contain string values.
Column 'Ozone (ug/m3)' does not contain string values.

In [6]:
import pandas as pd

# Assuming your DataFrame is named 'df'
df['From Date'] = pd.to_datetime(df['From Date'], format="%d-%m-%Y %H:%M")
df['To Date'] = pd.to_datetime(df['To Date'], format="%d-%m-%Y %H:%M")

# Verify the data types of the columns
print(df.dtypes)


# Now 'From Date' and 'To Date' are datetime data types

From Date        datetime64[ns]
To Date          datetime64[ns]
PM2.5 (ug/m3)           float64
PM10 (ug/m3)            float64
NOx (ppb)               float64
SO2 (ug/m3)             float64
CO (mg/m3)              float64
Ozone (ug/m3)           float64
dtype: object

In [7]:
import pandas as pd
import numpy as np


# Check for missing values in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
missing_pm25 = df['PM2.5 (ug/m3)'].isnull().sum()
missing_pm10 = df['PM10 (ug/m3)'].isnull().sum()

if missing_pm25 > 0:
    print(f"Number of missing values in 'PM2.5 (ug/m3)': {missing_pm25}")

if missing_pm10 > 0:
    print(f"Number of missing values in 'PM10 (ug/m3)': {missing_pm10}")

# Check for outliers in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
z_scores_pm25 = np.abs((df['PM2.5 (ug/m3)'] - df['PM2.5 (ug/m3)'].mean()) / df['PM2.5 (ug/m3)'].std())
z_scores_pm10 = np.abs((df['PM10 (ug/m3)'] - df['PM10 (ug/m3)'].mean()) / df['PM10 (ug/m3)'].std())

outliers_pm25 = (z_scores_pm25 > 3)
outliers_pm10 = (z_scores_pm10 > 3)

if outliers_pm25.any():
    print(f"Outliers detected in 'PM2.5 (ug/m3)':")
    print(df[outliers_pm25])

if outliers_pm10.any():
    print(f"Outliers detected in 'PM10 (ug/m3)':")
    print(df[outliers_pm10])

# Handle missing values and outliers as needed
# You can choose to remove or impute missing values, and handle outliers according to your data analysis requirements.

# After handling missing values and outliers, you can proceed with AQI calculations as shown in previous responses.

Number of missing values in 'PM2.5 (ug/m3)': 172327
Number of missing values in 'PM10 (ug/m3)': 100731
Outliers detected in 'PM2.5 (ug/m3)':
                 From Date             To Date  PM2.5 (ug/m3)  PM10 (ug/m3)  \
52511  2021-11-26 23:00:00 2021-11-27 00:00:00         235.36        163.40
62555  2023-01-19 11:00:00 2023-01-19 12:00:00         311.34        546.01
63537  2023-03-01 09:00:00 2023-03-01 10:00:00         217.78        308.76
85970  2018-07-05 13:00:00 2018-07-05 14:00:00         297.25         50.13
88954  2018-11-06 21:00:00 2018-11-06 22:00:00         342.52        419.03
...                    ...                 ...            ...           ...
633121 2022-12-23 02:00:00 2022-12-23 03:00:00         224.10        375.50
633122 2022-12-23 03:00:00 2022-12-23 04:00:00         218.82        371.35
633574 2023-01-10 23:00:00 2023-01-11 00:00:00         278.30        521.60
633575 2023-01-11 00:00:00 2023-01-11 01:00:00         283.98        564.23
633576 2023-01-11 01:00:00 2023-01-11 02:00:00         246.40        462.47

        NOx (ppb)  SO2 (ug/m3)  CO (mg/m3)  Ozone (ug/m3)
52511       28.53        12.61        1.16          16.18
62555         NaN         5.93        0.88          48.25
63537       28.32        12.43        1.21          22.23
85970       57.10         1.02        0.51           4.85
88954      122.19        44.73        1.66          15.96
...           ...          ...         ...            ...
633121     131.97         6.52        4.75           4.53
633122     138.23         5.66        2.37           3.97
633574     343.77         2.18        6.50           4.71
633575     425.95         2.89        8.33           3.66
633576     435.25         1.09        2.89            NaN

[6936 rows x 8 columns]
Outliers detected in 'PM10 (ug/m3)':
                 From Date             To Date  PM2.5 (ug/m3)  PM10 (ug/m3)  \
1431   2016-01-29 15:00:00 2016-01-29 16:00:00            NaN        801.55
1432   2016-01-29 16:00:00 2016-01-29 17:00:00            NaN        494.91
1433   2016-01-29 17:00:00 2016-01-29 18:00:00            NaN        825.99
1434   2016-01-29 18:00:00 2016-01-29 19:00:00            NaN        416.61
1436   2016-01-29 20:00:00 2016-01-29 21:00:00            NaN        495.32
...                    ...                 ...            ...           ...
633574 2023-01-10 23:00:00 2023-01-11 00:00:00         278.30        521.60
633575 2023-01-11 00:00:00 2023-01-11 01:00:00         283.98        564.23
633576 2023-01-11 01:00:00 2023-01-11 02:00:00         246.40        462.47
633921 2023-01-25 10:00:00 2023-01-25 11:00:00          96.40        589.50
635098 2023-03-15 11:00:00 2023-03-15 12:00:00          81.07        646.70

        NOx (ppb)  SO2 (ug/m3)  CO (mg/m3)  Ozone (ug/m3)
1431        27.84        31.04        2.18          40.81
1432        33.64        33.55        1.24          37.50
1433        45.33        24.07        0.62          26.84
1434        62.61        20.80        0.93          17.65
1436        80.65        25.11        0.90          13.53
...           ...          ...         ...            ...
633574     343.77         2.18        6.50           4.71
633575     425.95         2.89        8.33           3.66
633576     435.25         1.09        2.89            NaN
633921      47.90         4.67        0.95          51.98
635098      33.68        41.75        0.80          53.13

[8289 rows x 8 columns]

In [8]:
# Drop rows with missing values in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
df = df.dropna(subset=['PM2.5 (ug/m3)', 'PM10 (ug/m3)'])

# Calculate z-scores for 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
z_scores_pm25 = np.abs((df['PM2.5 (ug/m3)'] - df['PM2.5 (ug/m3)'].mean()) / df['PM2.5 (ug/m3)'].std())
z_scores_pm10 = np.abs((df['PM10 (ug/m3)'] - df['PM10 (ug/m3)'].mean()) / df['PM10 (ug/m3)'].std())

# Define a threshold for outliers (e.g., 3 standard deviations)
outlier_threshold = 3

# Drop rows with outliers in 'PM2.5 (ug/m3)' and 'PM10 (ug/m3)' columns
df = df[~(z_scores_pm25 > outlier_threshold)]
df = df[~(z_scores_pm10 > outlier_threshold)]

C:\Users\arush\AppData\Local\Temp\ipykernel_15512\1933458044.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[~(z_scores_pm10 > outlier_threshold)]

In [9]:
print(df['PM2.5 (ug/m3)'].dtype)
print(df['PM10 (ug/m3)'].dtype)

float64
float64

In [10]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3)
44580,2020-12-31 12:00:00,2020-12-31 13:00:00,93.43,115.50,26.79,10.45,0.51,26.82
44581,2020-12-31 13:00:00,2020-12-31 14:00:00,91.32,121.04,19.86,11.55,0.51,32.72
44582,2020-12-31 14:00:00,2020-12-31 15:00:00,79.91,119.27,19.54,16.43,0.49,32.02
44583,2020-12-31 15:00:00,2020-12-31 16:00:00,66.97,108.20,17.97,18.18,0.48,36.18
44584,2020-12-31 16:00:00,2020-12-31 17:00:00,68.51,126.60,18.62,9.60,0.46,19.64
...,...,...,...,...,...,...,...,...
635490,2023-03-31 19:00:00,2023-03-31 20:00:00,46.75,86.33,21.40,8.42,0.42,30.50
635491,2023-03-31 20:00:00,2023-03-31 21:00:00,41.40,80.97,23.30,6.76,0.45,24.86
635492,2023-03-31 21:00:00,2023-03-31 22:00:00,36.05,79.35,21.15,6.32,0.39,28.53
635493,2023-03-31 22:00:00,2023-03-31 23:00:00,34.02,76.25,20.40,5.46,0.40,24.37
635494,2023-03-31 23:00:00,2023-04-01 00:00:00,34.50,71.17,22.97,5.04,0.42,23.15

In [11]:
import numpy as np

# Assuming the actual column names in your dataset
pm25_column = 'PM2.5 (ug/m3)'
pm10_column = 'PM10 (ug/m3)'

# Constants for AQI calculation (Indian standard)
pm25_breakpoints = [0, 30, 60, 90, 120, 250]
pm25_aqi_values = [0, 50, 100, 200, 300, 400, 500]

pm10_breakpoints = [0, 50, 100, 250, 350, 430]
pm10_aqi_values = [0, 50, 100, 200, 300, 400, 500]

# Calculate AQI for PM2.5
def calculate_aqi_pm25(pm25):
    for i in range(len(pm25_breakpoints) - 1):
        if pm25_breakpoints[i] <= pm25 <= pm25_breakpoints[i + 1]:
            aqi = ((pm25_aqi_values[i + 1] - pm25_aqi_values[i]) / (pm25_breakpoints[i + 1] - pm25_breakpoints[i])) * (pm25 - pm25_breakpoints[i]) + pm25_aqi_values[i]
            return aqi
    return pm25_aqi_values[-1]

# Calculate AQI for PM10
def calculate_aqi_pm10(pm10):
    for i in range(len(pm10_breakpoints) - 1):
        if pm10_breakpoints[i] <= pm10 <= pm10_breakpoints[i + 1]:
            aqi = ((pm10_aqi_values[i + 1] - pm10_aqi_values[i]) / (pm10_breakpoints[i + 1] - pm10_breakpoints[i])) * (pm10 - pm10_breakpoints[i]) + pm10_aqi_values[i]
            return aqi
    return pm10_aqi_values[-1]

# Calculate AQI for each row in the dataset
def calculate_aqi(row):
    aqi_pm25 = calculate_aqi_pm25(row[pm25_column])
    aqi_pm10 = calculate_aqi_pm10(row[pm10_column])
    return max(aqi_pm25, aqi_pm10)

# Apply the calculate_aqi function to your dataset
df['AQI'] = df.apply(calculate_aqi, axis=1)

# Now, your dataset should have an 'AQI' column with the calculated Air Quality Index.

# You can further save this dataset or use it for analysis.

In [12]:
df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NOx (ppb),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),AQI
44580,2020-12-31 12:00:00,2020-12-31 13:00:00,93.43,115.50,26.79,10.45,0.51,26.82,211.433333
44581,2020-12-31 13:00:00,2020-12-31 14:00:00,91.32,121.04,19.86,11.55,0.51,32.72,204.400000
44582,2020-12-31 14:00:00,2020-12-31 15:00:00,79.91,119.27,19.54,16.43,0.49,32.02,166.366667
44583,2020-12-31 15:00:00,2020-12-31 16:00:00,66.97,108.20,17.97,18.18,0.48,36.18,123.233333
44584,2020-12-31 16:00:00,2020-12-31 17:00:00,68.51,126.60,18.62,9.60,0.46,19.64,128.366667
...,...,...,...,...,...,...,...,...,...
635490,2023-03-31 19:00:00,2023-03-31 20:00:00,46.75,86.33,21.40,8.42,0.42,30.50,86.330000
635491,2023-03-31 20:00:00,2023-03-31 21:00:00,41.40,80.97,23.30,6.76,0.45,24.86,80.970000
635492,2023-03-31 21:00:00,2023-03-31 22:00:00,36.05,79.35,21.15,6.32,0.39,28.53,79.350000
635493,2023-03-31 22:00:00,2023-03-31 23:00:00,34.02,76.25,20.40,5.46,0.40,24.37,76.250000
635494,2023-03-31 23:00:00,2023-04-01 00:00:00,34.50,71.17,22.97,5.04,0.42,23.15,71.170000

In [13]:
#X_train = np.nan_to_num(X_train)  # Replace NaN with 0
#X_test = np.nan_to_num(X_test)

In [14]:
#from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler()
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

In [15]:
import pandas as pd

# Check for NaN values in the entire DataFrame
nan_df = df.isna()

# Check for NaN values in a specific column
nan_in_column = df['AQI'].isna()

In [16]:
# Filling all the null values with mean.
columns_to_fill = [
    'PM2.5 (ug/m3)',
    'PM10 (ug/m3)',
    'NOx (ppb)',
    'SO2 (ug/m3)',
    'CO (mg/m3)',
    'Ozone (ug/m3)',
]

# Fill null values in the specified columns with their respective means
df[columns_to_fill] = df[columns_to_fill].fillna(df[columns_to_fill].mean())

In [17]:
print(df.isnull().sum())

From Date        0
To Date          0
PM2.5 (ug/m3)    0
PM10 (ug/m3)     0
NOx (ppb)        0
SO2 (ug/m3)      0
CO (mg/m3)       0
Ozone (ug/m3)    0
AQI              0
dtype: int64

In [18]:
# Check for infinite values in the entire DataFrame
is_infinite = np.isinf(df)

In [19]:
# Identify rows with infinite values
rows_with_infinity = df[is_infinite.any(axis=1)]

# Identify columns with infinite values
columns_with_infinity = df.columns[is_infinite.any()]

In [20]:
print("Rows with infinity:")
print(rows_with_infinity)

print("Columns with infinity:")
print(columns_with_infinity)

Rows with infinity:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Columns with infinity:
Index([], dtype='object')

In [21]:
import pandas as pd
import numpy as np



# List of columns to check for infinity
columns_to_check = ['PM2.5 (ug/m3)', 'PM10 (ug/m3)',  'NOx (ppb)',
                     'SO2 (ug/m3)', 'CO (mg/m3)', 'Ozone (ug/m3)', 'AQI']

# Loop through the specified columns and print rows with infinity values
for column_name in columns_to_check:
    # Print rows where the specific column contains positive infinity
    rows_with_infinity = df[df[column_name] == np.inf]

    print("Rows with positive infinity in column {}: ".format(column_name))
    print(rows_with_infinity)

    # Print rows where the specific column contains negative infinity
    rows_with_neg_infinity = df[df[column_name] == -np.inf]

    print("Rows with negative infinity in column {}: ".format(column_name))
    print(rows_with_neg_infinity)

Rows with positive infinity in column PM2.5 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column PM2.5 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column PM10 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column PM10 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column NOx (ppb):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column NOx (ppb):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column SO2 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column SO2 (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column CO (mg/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column CO (mg/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column Ozone (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column Ozone (ug/m3):
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with positive infinity in column AQI:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []
Rows with negative infinity in column AQI:
Empty DataFrame
Columns: [From Date, To Date, PM2.5 (ug/m3), PM10 (ug/m3), NOx (ppb), SO2 (ug/m3), CO (mg/m3), Ozone (ug/m3), AQI]
Index: []

In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


# Convert 'From Date' and 'To Date' to timestamps
df['From Date'] = pd.to_datetime(df['From Date'])
df['To Date'] = pd.to_datetime(df['To Date'])

# Extract relevant features from the timestamp
df['Year'] = df['From Date'].dt.year
df['Month'] = df['From Date'].dt.month
# Add more features as needed (e.g., day, hour, minute)

# Define your target variable and features
y = df['AQI']  # Assuming 'AQI' is the column with AQI values
X = df.drop(columns=['AQI', 'From Date', 'To Date'])  # Exclude the AQI and date columns

# Normalize your features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split your dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Reshape the data for LSTM and GRU input
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

# Define the LSTM+GRU model
model = tf.keras.Sequential([
    tf.keras.layers.LSTM(units=64, return_sequences=True, input_shape=(X_train.shape[1], 1)),
    tf.keras.layers.GRU(units=64, return_sequences=True),
    tf.keras.layers.LSTM(units=64, return_sequences=True),
    tf.keras.layers.GRU(units=64),
    tf.keras.layers.Dense(1)  # Output layer for AQI prediction
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(X_train, y_train, epochs=13, batch_size=32, validation_data=(X_test, y_test))

# Make predictions on training and testing data
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate performance metrics for training data
mae_train = mean_absolute_error(y_train, y_train_pred)
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
r2_train = r2_score(y_train, y_train_pred)

# Calculate performance metrics for testing data
mae_test = mean_absolute_error(y_test, y_test_pred)
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
r2_test = r2_score(y_test, y_test_pred)

# Print the performance metrics
print("Training Metrics:")
print("MAE: ", mae_train)
print("RMSE: ", rmse_train)
print("R2: ", r2_train)

print("\nTesting Metrics:")
print("MAE: ", mae_test)
print("RMSE: ", rmse_test)
print("R2: ", r2_test)

Epoch 1/13
11206/11206 [==============================] - 273s 22ms/step - loss: 3225.8684 - val_loss: 28.0014
Epoch 2/13
11206/11206 [==============================] - 309s 28ms/step - loss: 2.2637 - val_loss: 2.0289
Epoch 3/13
11206/11206 [==============================] - 288s 26ms/step - loss: 1.1140 - val_loss: 0.6875
Epoch 4/13
11206/11206 [==============================] - 308s 27ms/step - loss: 0.7542 - val_loss: 1.4230
Epoch 5/13
11206/11206 [==============================] - 320s 29ms/step - loss: 0.5644 - val_loss: 0.4868
Epoch 6/13
11206/11206 [==============================] - 281s 25ms/step - loss: 0.4870 - val_loss: 20.0392
Epoch 7/13
11206/11206 [==============================] - 269s 24ms/step - loss: 0.4237 - val_loss: 0.0569
Epoch 8/13
11206/11206 [==============================] - 266s 24ms/step - loss: 0.3383 - val_loss: 0.6677
Epoch 9/13
11206/11206 [==============================] - 269s 24ms/step - loss: 0.3222 - val_loss: 0.3043
Epoch 10/13
11206/11206 [==============================] - 268s 24ms/step - loss: 0.2739 - val_loss: 0.2848
Epoch 11/13
11206/11206 [==============================] - 264s 24ms/step - loss: 0.2433 - val_loss: 0.0549
Epoch 12/13
11206/11206 [==============================] - 265s 24ms/step - loss: 0.2109 - val_loss: 0.1667
Epoch 13/13
11206/11206 [==============================] - 212s 19ms/step - loss: 0.2088 - val_loss: 0.4330
11206/11206 [==============================] - 61s 5ms/step
2802/2802 [==============================] - 16s 6ms/step
Training Metrics:
MAE:  0.4894907782064349
RMSE:  0.6734665931191957
R2:  0.9999484841822591

Testing Metrics:
MAE:  0.4861693356669132
RMSE:  0.6580245882843953
R2:  0.9999508384814001